<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kamingpan.infrastructure.demo.entity.dao.DemoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kamingpan.infrastructure.demo.entity.model.entity.Demo">
        <result column="id" property="id" />
        <result column="creator_id" property="creatorId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="picture" property="picture" />
        <result column="hobby" property="hobby" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="attachment" property="attachment" />
        <result column="introduction" property="introduction" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- vo映射结果 -->
    <resultMap id="Demo" type="com.kamingpan.infrastructure.demo.entity.model.vo.DemoVO">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="picture" property="picture" />
        <result column="picture_url" property="pictureUrl" />
        <result column="hobby" property="hobby" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="status_label" property="statusLabel" />
        <result column="attachment" property="attachment" />
        <result column="introduction" property="introduction" />
        <result column="remark" property="remark" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        creator_id,
        creator,
        create_time,
        updater_id,
        updater,
        update_time,
        deleted,
        name, phone, picture, hobby, email, status, attachment, introduction, remark
    </sql>

    <!-- 根据示例查询示例信息 -->
    <select id="listByDemo" resultMap="Demo">
        select
            d.id,
            d.name,
            d.phone,
            d.status,
            dd.label status_label,
            d.updater,
            d.update_time
        from
            demo d
            left join system_data_dictionary dd on dd.clazz = 'Demo'
                and dd.variable = 'status'
                and dd.value = d.status
        where
            d.deleted = #{deleted}
            <if test="demo != null">
                <if test="demo.status != null">
                    and d.status = #{demo.status}
                </if>
                <if test="demo.name != null and demo.name != ''">
                    and d.name like #{demo.name}
                </if>
                <if test="demo.phone != null and demo.phone != ''">
                    and d.phone like #{demo.phone}
                </if>
            </if>
    </select>

    <!-- 根据示例查询示例信息 -->
    <select id="getDemoById" resultMap="Demo">
        select
            d.id,
            d.name,
            d.phone,
            d.picture,
            d.hobby,
            d.email,
            d.status,
            dd.label status_label,
            d.attachment,
            d.introduction,
            d.remark,
            d.updater,
            d.update_time,
            uf.url picture_url
        from
            demo d
            left join system_upload_file uf on d.picture = uf.id
            left join system_data_dictionary dd on dd.clazz = 'Demo'
            and dd.variable = 'status'
            and dd.value = d.status
        where
            d.id = #{id}
            and d.deleted = #{deleted}
    </select>

</mapper>
